.navbarLinks
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem; /* py-4 px-6 */
    max-width: 80rem; /* max-w-7xl */
    margin: 0 auto;
}
.navbarItem{
    font-size: 20px;
    font-weight: 500;
}